### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
classes/
out/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/

# Others
src/main/resources/static/bower_components
/src/main/resources/static/nbproject/private/
gradle/
gradlew
gradlew.bat
gradle*
bower_components/
node_modules/
package-lock.json
gradle*
.nb-gradle
