# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
classes/
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Spring
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Bower
src/main/resources/static/bower_components
