<div class="row">
  <div class="col-md-offset-2 col-md-8" align="center">
    <h2>Admin Panel</h2>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-action" ng-click="apc.menuSelected('users')" ng-class="{active: apc.active === 'users'}">Users</a>
      <a href="" class="list-group-item list-group-item-action" ng-click="apc.menuSelected('surveys')" ng-class="{active: apc.active === 'surveys'}">Surveys</a>
      <a href="" class="list-group-item list-group-item-action" ng-click="apc.menuSelected('comments')" ng-class="{active: apc.active === 'comments'}">Comments</a>
      <a href="" class="list-group-item list-group-item-action" ng-click="apc.menuSelected('questions')" ng-class="{active: apc.active === 'questions'}">Questions</a>
      <a href="" class="list-group-item list-group-item-action" ng-click="apc.menuSelected('answers')" ng-class="{active: apc.active === 'answers'}">Answers</a>
    </div>
  </div>
  <div class="col-md-10" ng-if="apc.active === 'users'">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Status</th>
            <th>Role</th>
            <th>Registration date</th>
            <th></th>
            <th>Block/Unblock</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in apc.users track by $index" ng-class="{danger: user.userStatus.id === 2}">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.userStatus.id === 1 ? 'Active' : 'Blocked'}}</td>
            <td>{{user.roles.id === 1 ? 'Admin' : 'Regular user'}}</td>
            <td>{{user.registrationDate | date:'yyyy-MM-dd'}}</td>
            <td></td>
            <td ng-if="user.userStatus.id === 1" align="center">
              <span class="fa fa-lock" style="cursor: pointer" ng-click="apc.setCurrentUser(user)" data-toggle="modal" data-target="#banUserModal"></span>
            </td>
            <td ng-if="user.userStatus.id === 2" align="center">
              <span class="fa fa-unlock" style="cursor: pointer" ng-click="apc.blockUser(user)"></span>
            </td>
            <td align="center"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="apc.removeUser(user.id)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-10" ng-if="apc.active === 'surveys'">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Visibility</th>
            <th>Active</th>
            <th>Created by</th>
            <th>Expiration date</th>
            <th></th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="survey in apc.surveys track by $index">
            <td>{{survey.name}}</td>
            <td>{{survey.surveyPrivacy.id === 1 ? 'Everyone' : 'Registered only'}}</td>
            <td>{{survey.isActive === true ? 'Yes' : 'No'}}</td>
            <td>{{survey.creator}}</td>
            <td>{{survey.expirationDate}}</td>
            <td></td>
            <td align="center"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="apc.removeSurvey(survey.id)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-10" ng-if="apc.active === 'comments'">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Content</th>
            <th>Created by</th>
            <th>Belongs to</th>
            <th></th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="comment in apc.allComments track by $index">
            <td>{{comment.content}}</td>
            <td>{{comment.poster}}</td>
            <td>{{comment.survey}}</td>
            <td></td>
            <td align="center"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="apc.removeComment(comment.id)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8" ng-if="apc.active === 'questions'">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Content</th>
            <th>Belongs to</th>
            <th></th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="question in apc.allQuestions track by $index">
            <td>{{question.content}}</td>
            <td>{{question.survey}}</td>
            <td></td>
            <td align="center"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="apc.removeQuestion(question.id)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8" ng-if="apc.active === 'answers'">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Content</th>
            <th>Belongs to</th>
            <th></th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="answer in apc.allAnswers track by $index">
            <td>{{answer.content}}</td>
            <td>{{answer.question}}</td>
            <td></td>
            <td align="center"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="apc.removeAnswer(answer.id)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="banUserModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">For how long do you want to ban this user?</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="apc.banDays" value="7" ng-checked="true">
                7 days
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="apc.banDays" value="30">
                30 days
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="apc.banDays" value="120">
                120 days
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="apc.banDays" value="Permanent">
                Permanent
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm" ng-click="apc.blockUser()" data-dismis="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>