<p>Test homepage</p>
<input type="text" class="form-control" ng-init="survey = {}" ng-model="survey.name">
<button type="submit" class="btn btn-primary" ng-click="hc.generateSurvey(survey)">Submit</button>

<div class = "jumbotron">
  <div class = "container">
    <h1>Surveys</h1>
    	<table cellpadding = "0" cellspacing = "0" class = "surveys">
    		<thead>
    			<tr>
    				<th class = "title sorting desc" data-column-name = "title">
    					<div class = "sort">Title</div>
    				</th>
    				<th class = "desc date modified" data-column-name = "date_modified">
    					<div class = "sort">Modified</div>
    				</th>
    				<th class = "design-header">Design</th>
    				<th class = "analyze-header">Analyze</th>
    				<th class = "share-header">Share</th>
    				<th class = "more-header">More</th>
    			</tr>
    		</thead>
    	</table>
    <!--<p>Here would be a list of the surveys</p>-->
    <p>
      <a class = "btn btn-primary btn-lg" href = "#" role = "button">+ Create Survey</a>
    </p>
  </div>

</div>