<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <h1>Surveys <a class="btn btn-primary btn-success btn-md pull-right" href="#/survey/new" role="button"><span class="glyphicon glyphicon-plus"></span> New Survey</a></h1>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="survey in hc.surveys track by $index" class="table-animate">
        <td>
          {{survey.name}}

          <div class="btn-group pull-right" role="group" aria-label="...">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="modal" data-target="#shareSurveyModal{{$index}}" onclick="loadWidgets()">
              <span class="glyphicon glyphicon-share"></span>
            </button>
            <a href="#/survey/results/{{survey.hashedId}}" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-signal"></span>
            </a>
            <a href="#/survey/details/{{survey.hashedId}}" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-list"></span>
            </a>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#deleteSurveyModal">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

          <br>Created:
          {{survey.creationDate | date:'mediumDate'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="deleteSurveyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" style="font-size: 125%">
          Are you sure you want to <span style="color: red; font-weight: bold">delete</span> your survey?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="hc.deleteSurvey()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="survey in hc.surveys track by $index">
  <div class="modal fade" id="shareSurveyModal{{$index}}" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="form-group">
              <div class="fb-share-button" data-href="https://tech9survey.github.io/#/{{survey.hashedId}}" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://tech9survey.github.io/#/{{survey.hashedId}}&amp;src=sdkpreparse">Share</a></div>
            </div>
            <!--
<div class="form-group">
<div class="fb-like" data-href="https://tech9survey.github.io/#/{{survey.hashedId}}" data-layout="standard" data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
-->
            <div class="form-group">
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{survey.name}}&url=https://tech9survey.github.io/#/{{survey.hashedId}}">Tweet</a>
            </div>
            <div class="form-group">
              <div class="g-plus" data-action="share" data-href="https://tech9survey.github.io/#/{{survey.hashedId}}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>