<div ng-if="!hc.initError" class="row">
  <div class="table-responsive">
    <table class="table table-hover table-bordered" style="background-color:white">
      <thead>
        <tr>
          <h1>Your Surveys <a class="btn btn-primary btn-success btn-md pull-right" href="#/survey/new" role="button" title="Create a new survey"><span class="glyphicon glyphicon-plus"></span> New Survey</a></h1>
        </tr>
        <hr>
      </thead>
      <tbody>
        <tr ng-repeat="survey in hc.surveys track by $index" class="table-animate">
          <td>
            {{survey.name}} - {{survey.description}}    

            <div class="btn-group pull-right" role="group" aria-label="...">

              <!--  Uncomment if individual buttons don't work
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="modal" data-target="#shareSurveyModal{{$index}}" onclick="loadWidgets()">
<span class="glyphicon glyphicon-share"></span>
</button>
-->

              <div class="btn btn-primary btn-facebook" ng-click="hc.facebookShare(survey.hashedId)" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true" style="color:white"></i>
              </div>

              <div class="btn btn-primary btn-twitter" title="Share on Twitter"><a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A8080%2F&amp;ref_src=twsrc%5Etfw&amp;text=Test%20survey&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Ftech9survey.github.io%2F%23%2F{{survey.hashedId}}&amp;via=tech9survey"><i class="fa fa-twitter-square" aria-hidden="true" style="color:white"></i></a></div>

              <div class="btn btn-primary btn-google" title="Share on Google"><a ng-href="https://plus.google.com/share?app=110&url=https%3A%2F%2Ftech9survey.github.io%2F%23%2F{{survey.hashedId}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square" aria-hidden="true" style="color:white"></i></a></div>

              <a href="#/survey/results/{{survey.hashedId}}" class="btn btn-primary" role="button" title="Show the results">
                <span class="glyphicon glyphicon-stats"></span>
              </a>

              <a href="#/survey/details/{{survey.hashedId}}" class="btn btn-primary" role="button" title="Show more details">
                <span class="glyphicon glyphicon-list"></span>
              </a>

              <button ng-if="survey.isActive && !survey.isPublic" class="btn btn-primary" type="button" data-toggle="modal" data-target="#togglePrivacyModal" ng-click="hc.setCurrentSurvey(survey)" title="Available to registered users">
                <span ng-if="!survey.isPublic" class="glyphicon glyphicon-eye-open"></span>
              </button>

              <button ng-if="survey.isActive && survey.isPublic" class="btn btn-primary" type="button" data-toggle="modal" data-target="#togglePrivacyModal" ng-click="hc.setCurrentSurvey(survey)" title="Available to everyone">
                <span ng-if="survey.isPublic" class="glyphicon glyphicon-eye-close"></span>
              </button>

              <button ng-if="survey.isActive" class="btn btn-primary" type="button" data-toggle="modal" data-target="#deactivateSurveyModal" ng-click="hc.setCurrentSurvey(survey)" title="Deactivate the survey">
                <span class="glyphicon glyphicon-off"></span>
              </button>

              <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#deleteSurveyModal" ng-click="hc.setCurrentSurvey(survey)" title="Delete the survey">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>  

            <br>Created: {{survey.creationDate | date:'mediumDate'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="alert alert-info" role="alert" ng-if="hc.surveys.length === 0">
    <strong>Info:</strong> You have no surveys!
  </div>


  <div class="alert alert-danger alert-dismissible" role="alert" ng-if="hc.error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hc.error = ''"><span aria-hidden="true">&times;</span></button>
    <strong>Error:</strong> {{hc.error}}
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="hc.initError">
  <strong>Error:</strong> {{hc.initError}}
</div>

<div class="modal fade" id="deleteSurveyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <label>Are you sure you want to delete your survey?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm" ng-click="hc.deleteSurvey()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deactivateSurveyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <label>Are you sure you want to deactivate your survey?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="hc.deactivateSurvey()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="togglePrivacyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <label>Are you sure you want to make your survey available{{hc.currentSurvey.isPublic ? ' only to registered users' : ' to everyone'}}?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="hc.toggleSurveyPrivacy()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="survey in hc.surveys track by $index">
  <div class="modal fade" id="shareSurveyModal{{$index}}" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="fb-share-button" data-href="https://tech9survey.github.io/#/{{survey.hashedId}}" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://tech9survey.github.io/#/{{survey.hashedId}}&amp;src=sdkpreparse">Share</a></div>
          </div>

          <div class="form-group">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{survey.name}}&url=https://tech9survey.github.io/#/{{survey.hashedId}}">Tweet</a>
          </div>

          <div class="form-group">
            <div class="g-plus" data-action="share" data-href="https://tech9survey.github.io/#/{{survey.hashedId}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>