<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form name="signupForm" ng-init="savedUser = {}" ng-submit="rc.saveUser(savedUser); rc.error = ''" novalidate>
      <div align="center" class="form-group">
        <h3>Sign up</h3>
      </div>

      <div class="form-group" ng-class="{'has-feedback': signupForm.username.$dirty, 'has-error': signupForm.username.$dirty && signupForm.username.$invalid, 'has-success': signupForm.username.$dirty && signupForm.username.$valid}">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" auto-focus="true" required ng-model="savedUser.username">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signupForm.username.$dirty && signupForm.username.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signupForm.username.$dirty && signupForm.username.$invalid"></span>
        <label class="text-danger" ng-show="signupForm.username.$dirty && signupForm.username.$invalid">Please enter a username!</label>
      </div>

      <div class="form-group" ng-class="{'has-feedback': signupForm.password.$dirty, 'has-error': signupForm.password.$dirty && signupForm.password.$invalid, 'has-success': signupForm.password.$dirty && signupForm.password.$valid}">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required ng-model="savedUser.password">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signupForm.password.$dirty && signupForm.password.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signupForm.password.$dirty && signupForm.password.$invalid"></span>
        <label class="text-danger" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">Please enter a password!</label>
      </div>

      <div class="form-group" ng-class="{'has-feedback': signupForm.email.$dirty, 'has-error': signupForm.email.$dirty && signupForm.email.$invalid, 'has-success': signupForm.email.$dirty && signupForm.email.$valid}">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required ng-model="savedUser.email">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signupForm.email.$dirty && signupForm.email.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signupForm.email.$dirty && signupForm.email.$invalid"></span>
        <label class="text-danger" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">Please enter a valid email!</label>
      </div>

      <div id="captcha" align="center" class="form-group"></div>

      <div class="alert alert-danger alert-dismissible" role="alert" ng-if="lc.error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="lc.error = ''"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{lc.error}}
      </div>

      <div align="center" class="form-group">
        <button type="submit" class="btn btn-default btn-success">Sign up</button>
      </div>
    </form>

    <div align="center" class="form-group">
      <span class="label label-primary">Already have an account?</span>
      <a ng-href="#/"> Log in!</a>
    </div>
  </div>
</div>

<script>

</script>