<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form novalidate>
      <div class="form-group">
        <h3 align="center">Sign up</h3>
      </div>

      <div class="form-group">
        <label>Username:</label>
        <input class="form-control" ng-model="rc.savedUser.username">
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" ng-model="rc.savedUser.password">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" ng-model="rc.savedUser.email">
      </div>

      <div align="center" class="form-group">
        <button class="btn btn-default btn-success" ng-click="rc.saveUser(rc.savedUser)">Submit</button>
      </div>
    </form>

    <div align="center" class="form-group">
      <span class="label label-primary">Already have an account?</span>
      <a ng-href="/#/">Log In!</a>
    </div>
  </div>
</div>