<div ng-if="!scfc.initError" class="row">
  <div class="col-md-offset-4 col-md-4">
    <form name="scfc.surveyForm" novalidate>
      <div align="center" class="form-group">
        <h3>Finish up your survey</h3>
      </div>

      <hr>

      <div class="form-group" ng-class="{'has-feedback': scfc.surveyForm.exitMsg.$dirty, 'has-error': scfc.surveyForm.exitMsg.$dirty && scfc.surveyForm.exitMsg.$invalid, 'has-success': scfc.surveyForm.exitMsg.$dirty && scfc.surveyForm.exitMsg.$valid}">
        <label for="exitMsg">Exit message</label>
        <textarea id="exitMsg" type="text" class="form-control" name="exitMsg" rows="3" placeholder="Exit message" ng-model="scfc.survey.exitMessage" required></textarea>
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="scfc.surveyForm.exitMsg.$dirty && scfc.surveyForm.exitMsg.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="scfc.surveyForm.exitMsg.$dirty && scfc.surveyForm.exitMsg.$invalid"></span>
        <label class="text-danger" ng-show="scfc.surveyForm.exitMsg.$dirty && scfc.surveyForm.exitMsg.$error.required">Please enter an exit message!</label>
      </div>

      <div class="form-group">
        <label for="surveyPrivacy">Survey privacy options</label>
        <div class="radio">
          <label><input type="radio" name="surveyPrivacy" id="surveyPrivacy" ng-value="false" ng-model="scfc.survey.isPublic">Available to registered users only</label> 
        </div>
        <div class="radio">
          <label><input type="radio" name="surveyPrivacy" id="surveyPrivacy" ng-value="true" ng-model="scfc.survey.isPublic">Available to everyone</label>
        </div>
      </div>

      <div class="form-group">
        <label for="surveyExpiration">Survey expiration options</label>
        <div class="radio">
          <label><input type="radio" name="surveyExpiration" id="surveyExpiration" ng-value="1" ng-model="scfc.surveyDeactivation" ng-click="scfc.setExpirationDate()">Active indefinitely</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="surveyExpiration" id="surveyExpiration" ng-value="2" ng-model="scfc.surveyDeactivation" ng-click="scfc.setExpirationDate()">Set expiration date</label>
          <div ng-show="scfc.surveyDeactivation === 2" ng-class="{'has-feedback': scfc.surveyForm.expirationDate.$dirty, 'has-error': scfc.surveyForm.expirationDate.$dirty && scfc.surveyForm.expirationDate.$invalid, 'has-success': scfc.surveyForm.expirationDate.$dirty && scfc.surveyForm.expirationDate.$valid}">
            <input ng-if="scfc.surveyDeactivation === 2" id="expirationDate" type="date" class="form-control" name="expirationDate" min="{{scfc.minDate | date:'yyyy-MM-dd'}}" placeholder="yyyy-MM-dd" ng-model="scfc.survey.expirationDate" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="scfc.surveyForm.expirationDate.$dirty && scfc.surveyForm.expirationDate.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="scfc.surveyForm.expirationDate.$dirty && scfc.surveyForm.expirationDate.$invalid"></span>
          </div>
        </div>
        <div ng-show="scfc.surveyDeactivation === 2">
          <label class="text-danger" ng-show="scfc.surveyForm.expirationDate.$dirty && scfc.surveyForm.expirationDate.$error.min">You cannot pick a current date or a date in the past!</label>
        </div>
      </div>

      <div class="alert alert-danger alert-dismissible" role="alert" ng-if="scfc.error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="scfc.error = ''"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{scfc.error}}
      </div>
      
      <hr>

      <div align="center" class="form-group">
        <button type="submit" class="btn btn-default btn-success" ng-click="scfc.error = ''; scfc.saveSurvey()">Finish <span class="glyphicon glyphicon-check"></span></button>
      </div>
    </form> 
  </div>
</div>

<div class="alert alert-danger alert-dismissible" role="alert" ng-if="scfc.initError">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="scfc.initError = ''"><span aria-hidden="true">&times;</span></button>
  <strong>Error:</strong> {{scfc.initError}}
</div>