<div class = "row">
  <div class="col-md-offset-3 col-md-6">
    <form name="commentForm" ng-init="sfc.comment = {}" ng-submit="sfc.postComment()" novalidate>
      <div align="center" class="form-group">
        <h3>{{sfc.survey.exitMessage}}</h3>
      </div>
			
			<hr ng-if="sfc.user">

      <div class="media" ng-repeat = "comment in sfc.survey.comments | orderBy: 'date':true">
        <div class="media-left media-middle">
          <span class="glyphicon glyphicon-user comment-user"></span>
        </div>
        <div class="media-body">       
          <h4 class="media-heading">
            <button ng-if="comment.poster !== sfc.user.username || sfc.user.username !== 'admin'" type="button" class="btn btn-primary btn-danger btn-xs pull-right" ng-click="sfc.reportComment(comment.id)"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
            <button ng-if="comment.poster === sfc.user.username" type="button" class="btn btn-primary btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-remove-sign" ng-click="sfc.deleteComment(comment.id)"></span></button>
            <span class="comment-poster">{{comment.poster}}</span>
          </h4>
          <p class="comment-content">{{comment.content}}<br>
            <b><span class="comment-date">{{comment.creationDate | date:'medium'}}</span></b></p>
        </div>
      </div>

      <div ng-if="sfc.user" class="form-group" ng-class="{'has-feedback': commentForm.password.$dirty, 'has-error': commentForm.password.$dirty && commentForm.password.$invalid, 'has-success': commentForm.password.$dirty && commentForm.password.$valid}">
				<div class="input-group">
        <input type="text" name="comment" class="form-control" placeholder="Write a comment..." ng-model = "sfc.comment.content">
					
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default btn-success">Post <span class="glyphicon glyphicon-envelope"></span></button>
					</div>
				</div>
      </div>
			
			<div ng-if="!sfc.user" class="form-group">
				<input type="text" name="comment" class="form-control" placeholder="You must be a registered user to comment!" disabled>
			</div>
			
			<hr>
			
      <div align="center" class="form-group">
        <a type="button" class="btn btn-default btn-primary" role="button" href = "#/home">Close</a>
      </div>
    </form>
  </div>
</div>