<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div align="center">
      <h3>Results</h3>
      <hr>
    </div>
    <div ng-if="src.survey.results.length" ng-init="src.generateBarChart()" id="chart"></div>
    <div ng-if="src.survey.results.length" ng-repeat="question in src.survey.questions track by $index">
      <div ng-init="src.generatePieChart($index, question.id)" id="chart{{$index}}"></div>    
    </div>

    <div align="center">
      <h3>Comments</h3>
      <hr>
    </div>
    <div class="media" ng-repeat = "comment in src.comments | orderBy: 'creationDate':true">
      <div class="media-left media-middle">
        <span class="glyphicon glyphicon-user comment-user"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <span class="comment-poster">{{comment.poster}}</span>
        </h4>
        <p class="comment-content">{{comment.content}}</p>
        <b><span class="comment-date">{{comment.creationDate | date:'medium'}}</span></b>
      </div>
    </div>
  </div>  
</div>