<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div align="center">
      <h3>Results</h3>
      <hr>
    </div>
    <div ng-if="src.survey.results.length" ng-init="src.generateBarChart()" id="chart"></div>
    <div ng-if="src.survey.results.length" ng-repeat="question in src.survey.questions track by $index">
      <div ng-init="src.generatePieChart($index, question.id)" id="chart{{$index}}"></div>    
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div align="center">
      <h3>Comments</h3>
      <hr>
    </div>
    <div class="media" ng-repeat = "comment in src.survey.comments | orderBy: 'creationDate':true">
      <div class="media-left media-middle">
        <!--<img ng-src="{{'data:image/jpg;base64,'+ src.findImage(comment.poster)}}">-->
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <button type="button" class="btn btn-primary btn-danger btn-xs pull-right" ng-click="src.reportComment(comment.id)"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
          <span class="comment-poster">{{comment.poster}}</span>
        </h4>
        <p class="comment-content">{{comment.content}}</p>
        <b><span class="comment-date">{{comment.creationDate | date:'medium'}}</span></b>
      </div>
    </div>
  </div>  
</div>