<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <span class="glyphicon glyphicon-edit" style="float: right; font-size: 24px; padding: 5px; cursor: pointer;"></span>
    <div class="jumbotron">
      <form class="form-horizontal" novalidate>
        <div align="center" class="form-group">
          <h2>{{sdc.survey.name}}</h2>
          <h3>{{sdc.survey.description}}</h3>
        </div>

        <div ng-repeat="question in sdc.survey.questions track by $index">
          <div class="form-group">
            <label for="question{{$index + 1}}">{{$index + 1}}. {{question.content}}</label>
            <div class="radio" ng-repeat="answer in question.answers track by $index">
              <label>
                <input type="radio" name="question{{$parent.$index + 1}}answer{{$index + 1}}" id="question{{$parent.$index + 1}}answer{{$index + 1}}" ng-value="answer" ng-model="sdc.surveyResult.results[$parent.$index].answerId">
                {{answer.content}}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>