<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form novalidate>
      <div align="center" class="form-group">
        <h3>Finish up your survey</h3>
      </div>

      <div class="form-group">
        <label for="exitMsg">Exit message</label>
        <textarea id="exitMsg" type="text" class="form-control" name="exitMsg" rows="3" placeholder="Write an exit message you want to display to the user after completing the survey" ng-model="scfc.surveyInput.exitMessage"></textarea>
      </div>

      <div class="form-group">
        <label for="publicationDate">Publication date</label>
        <input id="publicationDate" type="date" class="form-control" name="publicationDate" min="{{scfc.surveyInput.creationDate | date:'yyyy-MM-dd'}}" placeholder="yyyy-MM-dd" ng-model="scfc.surveyInput.publicationDate">
      </div>

      <div class="form-group">
        <label for="expirationDate">Expiration date</label>
        <input id="expirationDate" type="date" class="form-control" name="expirationDate" min="{{scfc.surveyInput.publicationDate | date:'yyyy-MM-dd'}}" placeholder="yyyy-MM-dd" ng-model="scfc.surveyInput.expirationDate">
      </div>

      <div class="form-group">
        <label for="surveyPrivacy">Survey privacy options</label>
        <div class="radio">
          <label><input type="radio" name="surveyPrivacy" id="surveyPrivacy" ng-value="1" ng-model="scfc.surveyInput.surveyPrivacy.id">Available to everyone</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="surveyPrivacy" id="surveyPrivacy" ng-value="2" ng-model="scfc.surveyInput.surveyPrivacy.id">Available to registered users only</label> 
        </div>
      </div>

      <div align="center" class="form-group">
        <button type="submit" class="btn btn-default btn-success" ng-click="scfc.saveSurvey(scfc.surveyInput)">Finish <span class="glyphicon glyphicon-check"></span></button>
      </div>
    </form> 
  </div>
</div>