<div class="container">
  <div class = "row ng-scope">
    <div class="col-md-offset-4 col-md-4">
      <form novalidate>
        <div align="center" class="form-group">
          <h3>Write a comment</h3>
        </div>
        <div class="panel panel-primary" ng-repeat = "comment in sdc.comments | orderBy: 'date':true">
          <button type="button" class="close" aria-hidden="true" ng-click="sdc.deleteComment(comment.id)" style="padding: 5px 5px 0 0">&times;</button>
          <div class="panel-body">
            <span style="font-weight: bold">{{comment.user.username}}</span> | <span style="font-style: italic; font-size: 80%">{{comment.creationDate | date:'medium'}}</span>
            <br>
            {{comment.content}}
            <span style="font-style: italic" ng-if="!sdc.comments">
              There are no comments for this bookmark, be the first to add one...

            </span>
          </div>
        </div>
        <div class="form-group">
          <textarea type="text" name="comment" class="form-control" placeholder="Write a comment..." ng-model = "sdc.comment.content" rows = "2"></textarea>
        </div>
        <div align="center" class="form-group">
          <button type = "submit" class="btn btn-default btn-success" type="button" ng-click="sdc.postComment()">Post</button>
        </div>
        <div align="center" class="form-group">
          <button type = "submit" class="btn btn-default btn-primary" type="button" ng-click="">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>