<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <form class="form-horizontal" novalidate>
      <div align="center" class="form-group">
        <h3>Customize your survey</h3>
      </div>

      <div ng-repeat="question in scc.survey.questions track by $index">
        <div class="form-group">
          <label  class="control-label col-md-2" for="question{{$index + 1}}">Question {{$index + 1}}</label>
          <div class="col-md-9">
            <input id="question{{$index + 1}}" type="text" class="form-control" name="question{{$index + 1}}" placeholder="Question {{$index + 1}}" ng-model="question.content">
          </div>

          <div class="col-md-1">
            <button type="input" class="btn btn-default btn-danger" ng-click="scc.deleteQuestion($index, self.survey.id, question.id)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>

        <div class="form-group" ng-repeat="answer in scc.survey.questions[$index].answers track by $index">
          <label  class="control-label col-md-2" for="question{{$parent.$index + 1}}answer{{$index + 1}}">Answer option {{$index + 1}}</label>
          <div class="col-md-9">
            <input id="question{{$parent.$index + 1}}answer{{$index + 1}}" type="text" class="form-control" name="question{{$parent.$index + 1}}answer{{$index + 1}}" placeholder="Answer option {{$index + 1}}" ng-model="answer.content">
          </div>

          <div class="col-md-1">
            <button type="input" class="btn btn-default btn-danger" ng-click="scc.deleteAnswer($parent.$index, $index, question.id, answer.id)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2">
            <button type="input" class="btn btn-default btn-primary" ng-hide="scc.survey.questions[$parent.$index].answers.length >= 10" ng-click="scc.createAnswer($index)">Answer <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2">
          <button type="input" class="btn btn-default btn-primary" ng-hide="scc.survey.questions.length >= 10" ng-click="scc.createQuestion()">Question <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>

      <div align="center" class="form-group">
          <button type="submit" class="btn btn-default btn-success" ng-click="scc.finishCustomization()">Finish <span class="glyphicon glyphicon-check"></span></button>
      </div>
    </form>
  </div>
</div>