<div class = "row">
  <div class="col-md-offset-3 col-md-6">
    <h1>Notifications</h1>
    <div class="media"  ng-repeat = "notification in unc.notifications | orderBy: 'creationDate':true">
      <div class="media-left">
        <img src = "https://ih1.redbubble.net/image.88970289.0659/ap,550x550,12x16,1,transparent,t.u1.png" style="width: 50px; height: 50px">
      </div>
      <div class="media-body">
        <p style="font-size: 15px"> The user <i> {{notification.sender.username}} </i> has successfully completed your <i>Test</i> survey.
          <br>
          <b>{{notification.creationDate | date:'medium'}}</b></p>
      </div>
      <hr style="margin: 10px 0 10px 0">
    </div>
  </div>
</div>