<div class="col-md-offset-3 col-md-6">
  <h1>Notifications</h1>
  <div class="media">
    <div class="media-left">
      <img src = "https://ih1.redbubble.net/image.88970289.0659/ap,550x550,12x16,1,transparent,t.u1.png" style="width: 50px; height: 50px">
    </div>
    <div class="media-body">
      <p style="font-size: 15px"> The user <i>Admin</i> has successfully completed your <i>Test</i> survey.
        <br>
        <b>Aug 22, 2017</b></p>
    </div>
  </div>
  <hr style="margin: 10px 0 10px 0">
  <div class="media">
    <div class="media-left">
      <img src = "https://ih1.redbubble.net/image.88970289.0659/ap,550x550,12x16,1,transparent,t.u1.png" style="width: 50px; height: 50px">
    </div>
    <div class="media-body">
      <p style="font-size: 15px"> The user <i>Admin</i> has successfully completed your <i>Test</i> survey.
        <br>
        <b>Aug 22, 2017</b></p>
    </div>
  </div>
  <hr style="margin: 10px 0 10px 0">
  <div class="media">
    <div class="media-left">
      <img src = "https://ih1.redbubble.net/image.88970289.0659/ap,550x550,12x16,1,transparent,t.u1.png" style="width: 50px; height: 50px">
    </div>
    <div class="media-body">
      <p style="font-size: 15px"> The user <i>Admin</i> has successfully completed your <i>Test</i> survey.
        <br>
        <b>Aug 22, 2017</b></p>
    </div>
  </div>
  <hr style="margin: 10px 0 10px 0">
  <div class="media">
    <div class="media-left">
      <img src = "https://ih1.redbubble.net/image.88970289.0659/ap,550x550,12x16,1,transparent,t.u1.png" style="width: 50px; height: 50px">
    </div>
    <div class="media-body">
      <p style="font-size: 15px"> The user <i>Admin</i> has successfully completed your <i>Test</i> survey.
        <br>
        <b>Aug 22, 2017</b></p>
    </div>
  </div>
  <hr style="margin: 10px 0 10px 0">
</div>