body {
  padding-top: 87px;
  padding-bottom: 87px;
}

.breadcrumb-item {
  font-size: 15px;
}

textarea {
  resize: none;
}

.img-nav {
  width: 20px; 
  height: 20px;
}

.comment-user {
  font-size: 50px;
}

.comment-delete {
  padding: 5px 5px 0 0;
}

.comment-date {
  font-style: italic;
  font-size: 80%;
}

.commnet-content {
  font-size: 15px; 
  margin: 0;
}

.comment-poster {
  font-weight: bold;
}

.btn-facebook {
	background-color: #3b5998;
}

.btn-twitter {
	background-color: #1da1f2;
}

.btn-google {
	background-color: #d34836;
}